/* src/App.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7c787862;
  color: #8fd8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #abbfd5;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin: 5px 0;
}
